.ant-layout-header{
  background: #fff;
}
.admin-layout-main {
  .admin-header {
    top: 0;
    right: 0;
    overflow: hidden;
    transition: all 0.2s;
    &.fixed-tabs.multi-page:not(.fixed-header) {
      height: 0;
    }
  }
}
.current_project{
  margin: 20px 0 10px 20px;
  line-height: 24px;
  font-size: 16px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  text-align: left;
  color: rgba(0, 0, 0, 0.85);
}
.admin-header{
  position: relative;
  padding: 0;
  background: #fff;
  z-index: 2;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  .head-menu{
    height: 65px;
    line-height: 65px;
    box-shadow: none;
    vertical-align: middle;
  }
  .admin-header-wide{
    padding-left: 24px;
    &.head.fixed{
      margin: auto;
      padding-left: 0;
      max-width: 1400px;
    }
    &.side{
      padding-right: 12px;
    }
    .logo {
      display: inline-block;
      padding: 0 12px 0 24px;
      height: 64px;
      line-height: 58px;
      font-size: 20px;
      color: inherit;
      vertical-align: top;
      cursor: pointer;
      &.pc{
        padding: 0 12px 0 0;
      }
      img {
        width: 32px;
        vertical-align: middle;
      }
      h1{
        display: inline-block;
        font-size: 16px;
        color: inherit;
      }
    }
    .trigger {
      padding: 0 24px;
      line-height: 64px;
      font-size: 20px;
      transition: color .3s;
      cursor: pointer;
      &:hover{
        // @primary-color
        color: #1890ff;
      }
    }
    .admin-header-menu{
      display: inline-block;
    }
    .admin-header-right{
      display: flex;
      float: right;
      color: inherit;
      .header-item{
        padding: 0 12px;
        color: inherit;
        cursor: pointer;
        align-self: center;
        a{
          color: inherit;
          i{
            font-size: 16px;
          }
        }
      }
    }
  }
}
